# Note: Behavior of this file can be checked with git check-attr -a <file_to_check>
# See also https://git-scm.com/docs/git-check-attr

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.txt text eol=lf
*.list text eol=lf
