name: Updater

on:
  schedule:
    - cron: '11 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    outputs:
      executed_update: ${{ steps.postprocess.outputs.executed_update }}
    steps:
      - uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v6
        with:
          pull: true
          load: true
          tags: blu
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Checkout cache branch
        uses: actions/checkout@v5
        continue-on-error: true # Branch may not exist
        with:
          repository: 'litetex/blocklists-unified-cache'
          ref: 'source_cached_remote_lists'
          path: 'source_cached_remote_lists'

      - name: Run
        run: |
          set -e
          docker network create --ipv6 blocklists-net || echo "Already exists"
          docker run --rm -v $PWD/source:/workdir -v $PWD/source_cached_remote_lists:/source_cached_remote_lists -v $PWD/out/ipv6:/out -e OUT_FILE=/out/unified.list blu
          docker network rm blocklists-net || echo "Failed to remove"

      - name: Get Timestamp
        id: timestamp
        run:
          echo "timestamp=$(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> $GITHUB_OUTPUT

      - name: Save generated
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: generated
          publish_dir: ./out
          enable_jekyll: true # .nojekyll is not needed
          full_commit_message: ${{ steps.timestamp.outputs.timestamp }}

      - name: Save cache
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        continue-on-error: true # Just cache
        with:
          personal_token: ${{ secrets.CACHE_REPO_TOKEN }}
          publish_branch: source_cached_remote_lists
          publish_dir: ./source_cached_remote_lists
          force_orphan: true
          enable_jekyll: true # .nojekyll is not needed
          full_commit_message: ${{ steps.timestamp.outputs.timestamp }}
          external_repository: 'litetex/blocklists-unified-cache'

  mirror:
    runs-on: ubuntu-latest
    needs: update
    timeout-minutes: 5
    steps:
      - run: |
          git clone --bare https://github.com/litetex/blocklists-unified.git
          cd blocklists-unified.git
          echo "Starting push"
          git push --mirror https://litetex:${{ secrets.CB_TOKEN }}@codeberg.org/litetex/blocklists-unified.git
          echo "Done"
